{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/signin.css' %}" rel="stylesheet">
    
    <script src="{% static 'js/jquery-3.3.1.min.js' %}" ></script>
    <script src="{% static 'js/popper.min.js' %}" ></script>
    <script src="{% static 'js/bootstrap.min.js' %}" ></script>

    <title>OPA : Sign in</title>
  </head>
   <body class="text-center">
    <div class="form-signin">
      <h1 class="h3 mb-3 font-weight-normal">Sign in</h1>
	  <div style="display:none" class="alert alert-warning" role="alert" id="alertMsg">
		  Please enter username!
	  </div>
	  <div style="display:none" class="alert alert-danger" role="alert" id="errorMsg">
		  Incorrect password!
	  </div>
      <label for="inputEmail" class="sr-only">Username</label>
      <input type="text" id="inputUsername" class="form-control" placeholder="Username" required autofocus>
      <label for="inputPassword" class="sr-only">Password</label>
      <a class="btn btn-lg btn-success btn-block" id="verify">Verify</a>
      <div class="checkbox mb-3">
        <a href="register">Register</a>
      </div>
      <!--<button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>-->
    </div>
    <!-- Modal -->
	<div class="modal fade" id="verifyModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	  <div class="modal-dialog modal-lg" role="document" style="width:1000px;">
		<div class="modal-content">
		  <div class="modal-header">
		    <h5 class="modal-title" id="exampleModalLabel">Verify Image &nbsp;</h5>
		    <input id="passInput" class="password-image" readonly type="text" value="" />
		    <button onclick="$('#passInput').val('');pass_data=[]" class="btn btn-primary">Clear</button>
		    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		      <span aria-hidden="true">&times;</span>
		    </button>
		  </div>
		  <div class="modal-body" style="text-align:center">
		    <img id="imagePass" scr="#" style="cursor:pointer" ismap />
		  </div>
		  <div class="modal-footer">
		    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
		    <button onclick="authenticateUser()" type="button" class="btn btn-primary">Sign in</button>
		  </div>
		</div>
	  </div>
	</div>
    <script>
    var pass_data = [];
    var img_key;
    $("#verify").click(function(){
    	if($("#inputUsername").val().trim()==''){
    		$("#alertMsg").show();
    		$("#inputUsername").focus();
    	}else{
    		$("#alertMsg").hide();
    		$("#errorMsg").hide();
    		$.post( "{% url 'user_verify' %}", function( data ) {
			  $("#imagePass").attr("src",'{% static 'imagepass/' %}' + data);
			  img_key = data;
			});
    		$('#verifyModal').modal('toggle');
    	}
    })
    $("#imagePass").on("click", function(event) {    	
        var o = $(this).offset();
        var x = event.pageX - o.left;
        var y = event.pageY - o.top;
        $('#passInput').val($('#passInput').val()+'*');
        pass_data.push({x:Math.round(x),y:Math.round(y)});
    });
    
    function authenticateUser(){
    	data = {
    		user:$("#inputUsername").val().trim(),
    		pass:pass_data,
    		img:img_key
    	};
    	/*$.post( "{% url 'user_authenticate' %}", function( data ) {
		  alert(data);
		});*/
		
        $.ajax({
            url: "{% url 'user_authenticate' %}",
            type: 'post',
            dataType: 'json',
            contentType: 'application/json',
            data: JSON.stringify(data),
            complete: function (result) {
                if(result.responseText=="Success"){
                	window.location = "{{ request.build_absolute_uri }}user";
                }else{
                	$('#passInput').val('');
                	pass_data=[];
                	$('#verifyModal').modal('toggle');
                	$("#errorMsg").show();
                }
            }
        });
    }
	$.ajaxSetup({ 
		 beforeSend: function(xhr, settings) {
			 function getCookie(name) {
				 var cookieValue = null;
				 if (document.cookie && document.cookie != '') {
					 var cookies = document.cookie.split(';');
					 for (var i = 0; i < cookies.length; i++) {
						 var cookie = jQuery.trim(cookies[i]);
						 // Does this cookie string begin with the name we want?
						 if (cookie.substring(0, name.length + 1) == (name + '=')) {
							 cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
							 break;
						 }
					 }
				 }
				 return cookieValue;
			 }
			 if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
				 // Only send the token to relative URLs i.e. locally.
				 xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
			 }
		 } 
	});
    </script>
    <style>
    .modal-lg {
		max-width: 900px;
	}
	</style>
  </body>
</html>
{% csrf_token %}