{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/signin.css' %}" rel="stylesheet">
    
    <script src="{% static 'js/jquery-3.3.1.min.js' %}" ></script>
    <script src="{% static 'js/popper.min.js' %}" ></script>
    <script src="{% static 'js/bootstrap.min.js' %}" ></script>
    <title>OPA : Register</title>
  </head>
   <body class="text-center">
    <div class="form-signin">
      <h1 class="h3 mb-3 font-weight-normal">Register </h1>
      <label class="sr-only">Name</label>
      <input type="text" id="inputName" class="form-control" placeholder="Name" required autofocus>
      <label class="sr-only">Username</label>
      <input type="text" id="inputUser" class="form-control" placeholder="Username" required>
      <label class="sr-only">Email address</label>
      <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required>
      <label for="inputPassword" class="sr-only">Backup Password</label>
      <input type="password" id="inputPassword" class="form-control" placeholder="Backup Password" required>
      <button class="btn btn-lg btn-secondary btn-block" id="btnPassword">Password</button>
      <button class="btn btn-lg btn-primary btn-block" type="btnSubmit">Register</button>
      <div class="checkbox mb-3">
        <a href="{% url 'index' %}">login</a>
      </div>
    </div>
    <!-- Modal -->
	<div class="modal fade" id="verifyModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	  <div class="modal-dialog modal-lg" role="document" style="width:1000px;">
		<div class="modal-content">
		  <div class="modal-header">
		    <h5 class="modal-title" id="exampleModalLabel">Choose objects &nbsp;</h5>
		    <input id="passInput" class="password-image" readonly type="text" value="" />
		    <button onclick="$('#passInput').val('');pass_data=[]" class="btn btn-primary">Clear</button>
		    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		      <span aria-hidden="true">&times;</span>
		    </button>
		  </div>
		  <div class="modal-body" style="text-align:center">
		    <table class="table">
		    	<tr>
		    		<td><img src="#" class="img-thumbnail" /></td>
		    		<td><img src="#" class="img-thumbnail" /></td>
		    		<td><img src="#" class="img-thumbnail" /></td>
		    		<td><img src="#" class="img-thumbnail" /></td>
		    	</tr>
		    	<tr>
		    		<td><img src="#" class="img-thumbnail" /></td>
		    		<td><img src="#" class="img-thumbnail" /></td>
		    		<td><img src="#" class="img-thumbnail" /></td>
		    		<td><img src="#" class="img-thumbnail" /></td>
		    	</tr>
		    	<tr>
		    		<td><img src="#" class="img-thumbnail" /></td>
		    		<td><img src="#" class="img-thumbnail" /></td>
		    		<td><img src="#" class="img-thumbnail" /></td>
		    		<td><img src="#" class="img-thumbnail" /></td>
		    	</tr>
		    </table>
		  </div>
		  <div class="modal-footer">
		    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
		    <button onclick="authenticateUser()" type="button" class="btn btn-primary">Save</button>
		  </div>
		</div>
	  </div>
	</div>
	<script>
    var pass_data = [];
    var img_key;
    $("#btnPassword").click(function(){
    
		$('#verifyModal').modal('toggle');/*
    	if($("#inputUsername").val().trim()==''){
    		$("#alertMsg").show();
    		$("#inputUsername").focus();
    	}else{
    		$("#alertMsg").hide();
    		$("#errorMsg").hide();
    		$.post( "{% url 'user_verify' %}", function( data ) {
			  $("#imagePass").attr("src",'{% static 'imagepass/' %}' + data);
			  img_key = data;
			});
    	}*/
    })
    </script>
    <style>
    .img-thumbnail {
		height: 100px;
	}
	</style>
  </body>
</html>
